---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div class="card bg-neutral h-full w-full">
  <div class="card-body items-center p-6 text-center md:p-8">
    <div class="text-neutral-content mb-2">
      <slot name="icon" />
    </div>
    <h2 class="card-title text-accent">{title}</h2>
    <p class="text-base-content text-sm md:text-base">{description}</p>
  </div>
</div>
