---
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div
  class="card bg-neutral h-full w-full rounded-2xl border border-white/10 shadow-sm"
>
  <div class="card-body items-center p-8 text-center md:p-10">
    <div class="text-accent mb-3">
      <slot name="icon" />
    </div>
    <h2
      class="card-title text-accent mb-1 leading-tight font-semibold md:text-xl"
    >
      {title}
    </h2>
    <p class="text-base-content text-sm leading-relaxed md:text-base">
      {description}
    </p>
  </div>
</div>
