<div class="hero mt-10">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <div class="badge badge-lg badge-soft">
        <div class="inline-grid *:[grid-area:1/1]">
          <div class="status status-info animate-ping"></div>
          <div class="status status-info"></div>
        </div> Waitlist v1.0 Open
      </div>
      <br />
      <br />
      <h1 class="text-center text-5xl font-bold tracking-tight">
        <span class="text-neutral-content"
          >One Product. One Link. Global Reach.</span
        >{" "}
        <span class="text-accent">Smart Routing is the Future.</span>
      </h1>
      <p class="text-neutral-content pt-6 pb-3">
        Stop losing international sales. Automatically route customers to the
        right storefront—Amazon US, local retailers, or custom landing
        pages—from a single link.
      </p>
      <div class="badge badge-soft badge-md text-neutral-content p-3">
        Estimated Launch: Q1 2026
      </div>
      <p class="join-item text-neutral-content pt-3 text-center text-sm">
        Join brands optimizing their global traffic.
      </p>
    </div>
  </div>
</div>
