<div class="hero mt-10">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold text-secondary">Own Your Digital Identity</h1>
      <p class="pt-6 text-neutral-content">
        Build a clean, high-performance bio page that drives conversions,
        showcases your work, and connects your audience to everything you
        offer—while giving you full control over branding, analytics, and your
        digital identity. A faster, more customizable alternative built for
        creators and businesses.
      </p>
	  <p class="pt-4 text-neutral-content">
		Estimated Launch: 2026
	  </p>
    </div>
  </div>
</div>
